body {
	background: #333;
	font-family: 'RobotoRegular','Roboto','Droid Sans','Helvetica Neue','Segoe UI','Segoe','Open Sans','Helvetica','Arial',sans serif;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
#container {
	background-image: radial-gradient(#2f8e2c,#2e7423);
	background-color: #2e7423;
	text-align: center;
	font-size: 14px;
}
header {
	max-width: 900px;
	text-align: left;
	margin: 0 auto;
	padding: 20px 0;
}
nav {
	background: #222;
}
nav ul {
	max-width: 900px;
	text-align: left;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
nav ul li {
	margin: 0;
	padding: 12px 0 12px 4px;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
}
#logo {
	height: 33px;
	background: url(./images/unibet-logo.png) no-repeat;
	background-size: 200px 33px;
	text-indent: -999em;
}
#content {
	max-width: 900px;
	text-align: left;
	margin: 16px auto;

	article {
		padding: 20px 8px 16px 16px;
		background: #fff;
		border-radius: 4px;
		overflow: hidden;
		margin: 0px;
	}
	article h1 {
		font-size: 22px;
	}
	article .preamble {
		font-weight: bold;
	}
}
#live-matches {
    background-color: #222223;
    min-height: 200px;
    text-align: center;
    padding: 30px;
	overflow: hidden;
	position: relative;

	.inactive {
		width: 0;
		height: 0;
		opacity: 0;
		transition: transform 0.5s;
		transform: translate3d(100%, 0, 0);
	}

	.active {
	transition: transform 0.5s;
	transform: translate3d(0, 0, 0);
	}

	.score {
		color: #f0ba07;
		font-size: 1.8em;
		padding: 8px;
	}

	.team-names {
		color: #dcebe3;
		font-size: 1.2em;
		padding: 8px;

		img {
			height: 16px;
			width: 16px;
			margin-right: 5px;
		}
	}

	.start-time {
		color: #737272;
		padding: 8px;
	}

	.btn {
		margin: 8px;
		background-color: #3aaa35;
		
		a {
			text-decoration: none;
			color: white;

			&:hover{
				color: white;
				font-weight: bold;
			}
		}
	}
}


.betting-info {
	border-left: solid 1px #ccc;

	.title {
		font-weight: bold;
	}
}
footer {
	background: #333;
	color: #999;
}
footer .inner {
	max-width: 900px;
	text-align: left;
	margin: 0 auto;
}
footer .inner p {
	padding: 16px 8px;
}

@media (max-width: 950px) {
	#logo {
		background-position: center;
	}
  }